
@media (max-width: 600px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 735px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        &__tittle {
            padding-top: 238px;
            font-size: 32px;
            text-align: center;
        }
        &__text {
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            margin-bottom: 32px;
        }
    }
    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        .game__link {
            width: 343px;
        }
    }
}