
@media (max-width: 600px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 735px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        &__tittle {
            padding-top: 238px;
            font-size: 32px;
            text-align: center;
        }
        &__text {
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            margin-bottom: 32px;
        }
    }
    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1221px;
        .game__link {
            width: 343px;
            height: 300px;
        }
    }
    .seasons_box {
        flex-direction: column;
        align-items: center;
        .seasons_left {
            width: 100%;
            align-items: center;
            &__tittle {
                text-align: center;
                font-size: 32px;
                font-weight: 700;
            }
            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                text-align: center;
            }
            &__button {

            }
        }
        .svg {
            width: 100%;
        }
    }
}